*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    overflow: hidden;
}

.container-principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    background: #85C1E9;
}

.cat{
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;

    & img{
        width: 150px;
    }
}

.menus{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    & h1{
        font-size: 80px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.menu-c{
    display: grid;
    grid-template-rows: 80px 1fr;
    position: relative;
    top: 50%;
    left: -35%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 85%;
    background: #ECF0F1;
    outline: 5px solid #17202A;
    border-radius: 20px;
    padding: 15px;

    & .btn-skip-c{
        width: 40px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    & p{
        grid-row: 1;
        font-size: 60px;
        text-align: center;
        margin-top: -10px;
    }

    & .menu-c-scroll{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        grid-row: 2;
        row-gap: 40px;
        padding: 5px;
        overflow-y: auto;
    
        & .skin-cat-1{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #58D68D;
            outline: 3px solid #17202A;
            width: 200px;
            height: 180px;
            border-radius: 20px;
            padding: 10px;
            cursor: pointer;

            & .fingerprint{
                width: 70px;
                position: absolute;
                top: 3px;
                left: 3px;
            }
    
            & .cat-1{
                width: 160px;
                margin-left: -10px;
                filter: drop-shadow(0 0 5px black);
            }
    
            & p{
                display: inline-block;
                font-size: 50px;
            }
    
            & .coin{
                width: 50px;
                margin-bottom: -10px;
            }
        }
    
        & .skin-cat-2{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #EC7063;
            outline: 3px solid #17202A;
            width: 200px;
            height: 180px;
            border-radius: 20px;
            padding: 10px;
            cursor: pointer;

            & .fingerprint{
                width: 70px;
                position: absolute;
                top: 3px;
                left: 3px;
            }
    
            & .cat-2{
                width: 140px;
                margin-left: -10px;
                filter: drop-shadow(0 0 5px black);
            }
    
            & p{
                display: inline-block;
                font-size: 50px;
            }
    
            & .coin{
                width: 50px;
                margin-bottom: -10px;
            }
        }

        & .color{
            background: #58D68D;
        }
    }

    & .menu-c-scroll::-webkit-scrollbar{
        width: 10px;
    }

    & .menu-c-scroll::-webkit-scrollbar-thumb{
        background: black;
        border-radius: 15px;
    }
}

.menu-s{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: -35%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 85%;
    background: #ECF0F1;
    outline: 5px solid #17202A;
    border-radius: 20px;
    padding: 15px;
    gap: 20px;

    & .btn-skip-s{
        width: 40px;
        height: 40px;
        position: absolute;
        cursor: pointer;
        top: 20px;
        left: 20px;
    }

    & .titulo{
        text-align: center;
        font-size: 55px;
    }

    & span{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;    
    }

    & span p{
        font-size: 40px;
    }

    & .img-mute{
        background: #EC7063;
        width: 60px;
        height: 60px;
        outline: 3px solid #17202A;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        transition: .3s;
    }

    & .color{
        background: #58D68D;
    }
}

.btn-play{
    width: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ECF0F1;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 5px solid #17202A;

    & img{
        width: 100%;
    }
}

.btn-colors{
    width: 80px;
    position: absolute;
    top: 15px;
    right: 15px;
    background: #ECF0F1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 3px solid #17202A;
    transition: 1s;

    & img{
        width: 100%;
    }
}

.btn-setting{
    width: 80px;
    position: absolute;
    top: 15px;
    right: 110px;
    background: #ECF0F1;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 3px solid #17202A;

    & img{
        width: 100%;
    }
}

.coins{
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    background: #ECF0F1;
    outline: 3px solid #17202A;

    & img{
        width: 50px;
    }

    & p{
        font-size: 45px;
    }
}

@keyframes hide-down{
    to{
        top: 120%;
        display: none;
    }
}

@keyframes show-down{
    to{
        top: 10%;
    }
}

@keyframes hide-up{
    to{
        top: -30%;
        display: none;
    }
} 

@keyframes show-menu{
    to{
        left: 50%;
    }
} 

.hide-down{
    animation: hide-down .6s ease-in-out forwards;
}

.show-down{
    animation: show-down .6s ease-in-out forwards;
}

.hide-up{
    animation: hide-up .6s ease-in-out forwards;
}

.show-menu{
    animation: show-menu .6s ease-in-out forwards;
}

