*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    overflow: hidden;
}

.container-principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    background: #85C1E9;
}

#cat{
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;

    & img{
        width: 150px;
    }
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    & h1{
        font-size: 80px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.menu-colors{
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-row: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 85%;
    background: #ECF0F1;
    outline: 5px solid #17202A;
    border-radius: 20px;
    padding: 20px;

    & h1{
        grid-column: 0 / 2;
        font-size: 60px;
        margin-top: -50px;
    }

    & .menu-colors-scroll{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        grid-row: 2;
        row-gap: 40px;
        overflow-y: auto;
    
        & .skin-cat-1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #EC7063;
            outline: 3px solid #17202A;
            width: 200px;
            border-radius: 20px;
            padding: 10px;
            cursor: pointer;
            margin-top: 5px;
    
            & .cat-1{
                width: 140px;
                filter: drop-shadow(0 0 5px black);
            }
    
            & p{
                display: inline-block;
                font-size: 50px;
            }
    
            & .coin{
                width: 50px;
                margin-bottom: -10px;
            }
        }
    
        & .skin-cat-2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #EC7063;
            outline: 3px solid #17202A;
            width: 200px;
            border-radius: 20px;
            padding: 10px;
            cursor: pointer;
            margin-top: 5px;
    
            & .cat-2{
                width: 140px;
                filter: drop-shadow(0 0 5px black);
            }
    
            & p{
                display: inline-block;
                font-size: 50px;
            }
    
            & .coin{
                width: 50px;
                margin-bottom: -10px;
            }
        }
    
        & .skin-cat-3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #EC7063;
            outline: 3px solid #17202A;
            width: 200px;
            border-radius: 20px;
            padding: 10px;
            cursor: pointer;
            margin-top: 5px;
    
            & .cat-3{
                width: 140px;
                filter: drop-shadow(0 0 5px black);
            }
    
            & p{
                display: inline-block;
                font-size: 50px;
            }
    
            & .coin{
                width: 50px;
                margin-bottom: -10px;
            }
        }

        & .skin-cat-4{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #EC7063;
            outline: 3px solid #17202A;
            width: 200px;
            border-radius: 20px;
            padding: 10px;
            cursor: pointer;
    
            & .cat-4{
                width: 140px;
                filter: drop-shadow(0 0 5px black);
            }
    
            & p{
                display: inline-block;
                font-size: 50px;
            }
    
            & .coin{
                width: 50px;
                margin-bottom: -10px;
            }
        }
    }
}

.btn-play{
    width: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ECF0F1;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 5px solid #17202A;

    & img{
        width: 100%;
    }
}

.btn-colors{
    width: 80px;
    position: absolute;
    top: 15px;
    right: 15px;
    background: #ECF0F1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 3px solid #17202A;

    & img{
        width: 100%;
    }
}

.btn-setting{
    width: 80px;
    position: absolute;
    top: 15px;
    right: 110px;
    background: #ECF0F1;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 3px solid #17202A;

    & img{
        width: 100%;
    }
}

@keyframes hide-down{
    to{
        top: 120%;
        display: none;
    }
}

@keyframes hide-up{
    to{
        top: -30%;
        display: none;
    }
} 

.hide-down{
    animation: hide-down .6s ease-in-out forwards;
}

.hide-up{
    animation: hide-up .6s ease-in-out forwards;
}

.hide{
    display: none;
}